<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744830778995-pi1lp7l09kvdmpofn8ajfh2d7klq0oud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744830778995-pi1lp7l09kvdmpofn8ajfh2d7klq0oud</string>
	<key>API_KEY</key>
	<string>AIzaSyApGKl0DqBH40TEIsU0zu_X-KcYW-KyZzg</string>
	<key>GCM_SENDER_ID</key>
	<string>744830778995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flufi</string>
	<key>PROJECT_ID</key>
	<string>flufi-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>flufi-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744830778995:ios:51fa5a8ca40b34be4d7406</string>
</dict>
</plist>